<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <table>
    <tr>
      <td><b>District Name</b></td>
      <input type="text" name="name" id="name">
    </tr>
    <tr><td></td></tr>
    <tr>
      <td><b>Area (sq mt)</b></td>
      <input type="text" name="area" id="area">
    </tr>
    <tr><td></td></tr>
    <tr>
      <td><b>Population</b></td>
      <input type="text" name="Population" id="Population">
    </tr>
    <tr><td></td></tr>
  </table><b>
  <button style="margin-left: 300px;border:none;"><b>Save</b></button></b>
<br><br><br>
<div ><b>
  <p >Biggest District(Area wise)</p>
  <input type="radio" id="chennai" name="area" value="chennai">
  <label for="chennai">Chennai</label>
  <input type="radio" id="coimbatore" name="area" value="coimbatore" style="margin-left: 70px;">
  <label for="coimbatore">Coimbatore</label>
  <input type="radio" id="salem" name="area" value="salem" style="margin-left: 70px;">
  <label for="Salem">Salem</label>
</b></div>
<br><br>
<div><b>
  <p >Highly populated District</p>
  <input type="radio" id="chennai" name="area" value="chennai" >
  <label for="male">Male</label>
  <input type="radio" id="coimbatore" name="area" value="coimbatore" style="margin-left: 90px;">
  <label for="female">Female</label>
  <input type="radio" id="salem" name="area" value="salem" style="margin-left: 90px;">
  <label for="other">Other</label>
</b></div>

</body>
</html>
